# 音频已上传到 Cloudflare R2，不需要在 Git 仓库中
audio/
modules/

# Python 缓存
__pycache__/
*.pyc

# 系统文件
Thumbs.db
.DS_Store
study_data_compact.json
english_data.json

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
